*
{
    padding: 0;
    margin: 0;

}

/* 1 start  */

.log
{
    /* height: 100px; */
    /* border: 1px solid red; */
    /* background: coral;    */
    display: grid;
    grid-template-columns: 20fr 45fr 20fr 15fr;
    text-align: center;
    font-size: 15px;
    align-items: center;

}

.icon,.eng,.in
{
 border: 1px solid;
}

.eng,.in
{
    padding: 10px 0 10px 0;
}

.icon
{
    padding: 10px;
}


.on
{
    float: right;
}

.on i
{
    padding-right: 20px;
}

.j
{
    float: left;
}


/* 1 end  */



/* 2 start  */


.fashion
{
    /* height: 100px; */
    /* background-color: red; */
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
    /* text-align: center; */
    padding: 20px;
    align-items: center;

}


.fashi
{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.cat
{
    display: grid;
    grid-template-columns: 80fr 80fr 20fr  ;
}

.cat button
{
    background-color: white;
    padding: 20px;
}

.search 
{
    background-color: gold;
    color: green;
    text-align: center;
    padding-top: 20px;
}

.heart i 
{
    padding-right: 10px;
}

.heart
{
    text-align: center;
}

.heart i
{
    background-color: white;
    color: black;
}

/* 2 end  */


/* 3 start  */


.nav 
{
    background-color: black;
    padding: 0 90px 0 90px ;
}


.main
{
    background-color: #3b3b3b;
    /* border: 2px solid yellow; */
}

.main ul 
{
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 5px;
}

.main li 
{
    display: inline;
    font-size: 20px;
    padding-right: 80px;
    /* border: 2px solid red; */
}

.main a 
{
    color: white;
    text-decoration: none;
}

.all,.collection,.pages
{
    position: relative;
}



.all1,.collection1,.pages1
{
    cursor: pointer;
    position: absolute;
    top: 22px;
    left: 0;
    display: none;
    background-color: white;
    padding-top: 25px;
    z-index: 1;
}

.all:hover .all1,.collection:hover .collection1,.pages:hover .pages1
{
    display: block;
}

.all1 p,.collection1 p,.pages1 p  
{
    padding-bottom: 10px;
}

.all1 p:hover,.collection1 p:hover,.pages1 p:hover 
{
    color: #e7ab3c;
}

.all .fa-angle-down
{
    padding-left: 20px;
}

.all .fa-bars 
{
    padding-right: 20px;
}


.collection1 
{
    width: 150px;
    background-color: black;
    color: white;
}

.pages1
{
    left: -50px;
    width: 200px;
    background-color: black;
    color: white;
}

/* 888888888 */

.main2 
{
    /* border: 2px solid chocolate; */
}

.menu 
{
    font-size: 20px;
    color: white;
    /* float: right; */
    text-align: right;
    background-color: #3b3b3b;
    padding: 5px;
    position: relative;
}

.menu *
{
    cursor: pointer;

}

.left 
{
    text-align: left;
    position: absolute;
    display: none;
}

.left p 
{
    padding-top: 10px;
}

.menu:hover 
{
    padding-bottom: 400px;
}


.menu:hover .left 
{
    display: block;
}


.ander,.ander2 
{
    position: relative;
}

.ander1,.ander3
{
    position: absolute;
    top: 50%;
    left: 120px;
    display: none;
}

.ander:hover .ander1,.ander2:hover .ander3
{
    display: block;
    color: black;
}


.nav .collection:hover,.blog:hover,.contact:hover,.pages:hover,.shop:hover
{
    background-color: #e7ab3c;
}

.home 
{
    background-color: #e7ab3c;
}

.ander3
{
    top: 0px;
    width: 230px;
}

.sho 
{
    padding-bottom: 13px;
}

.ander2
{
    padding-top: 13px;
}


/* 3 end */




/* 4 start  */


.photo
{
    height: 100%;
    width: 100%;
    /* border: 10px solid yellow; */
    position: relative;
}


.photo1
{
    height: 700px;
    border: 1px solid white ;
    background: url(../images/hero-1.JPG);
    background-size: 100% 100%;
}

/* .dj
{
    position: absolute;
    top: 0;
    left: 0;
    height: 700px; 
    background: url(../images/hero-2.JPG);
    background-size: cover;
    color:green ;
    background-color: red;
} */

.ph
{
    /* height: 400px; */
    /* width: 780px; */
    width: 60%;
    /* border: 1px solid red; */
    margin-top: 180px;
    display: grid;
    grid-template-columns: 80fr 20fr;
    overflow: hidden;
    
}

/* .pho1,.pho2
{
    border: 1px solid grey;
} */

.pho1
{
    padding-top: 80px;
    padding-left: 25px;
    /* width: 80%; */
    animation: vivek 3s infinite linear;
    /* transition: 1s; */
}

/* .pho2
{
    width: 20%;
} */


@keyframes vivek{
    from{
        transform: translate(0px,100%);
    }
    to{
    transform: translate(0px,0px);
        
    }
}

.pho1 h1
{
    font-size: 65px;
}

.pho1 p
{
    line-height: 25px;
}

.pho1 .kid
{
    color: #e7ab3c;
}

.pho1 button
{
    padding: 10px;
    background-color: orange;
    color: white;
    margin-top: 10px;
}

button
{
    cursor: pointer;
}


.cricle
{
    height: 150px;
    width: 150px;
    background-color: orange;
    border-radius: 50%;
    float: right;
    text-align: center;
    border: 3px dashed white;
    transition: 1s;
    visibility: hidden;
}

.cricle1
{
    padding-top: 30px;
    color: white    ;
}



.pho1 
{
  transform: translate(0px,100%);   
}

/* .ph:hover .pho1 
{
    transform: translate(0px,0px);
    transition: 2s;
} */

.ph:hover .cricle
{
    visibility: visible;
    transition: 2s;
    transform: rotate(360deg);
}



/* 4 end  */


/* 5 start  */

.banner
{
    /* height: 400px; */
    /* border: 1px solid red; */
    /* padding: 80px 20px 0px 30px; */
    padding: 80px 0px;
}

.banner2
{
    /* border: 1px solid blue; */
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.men
{
    background: url(../images/banner-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.women
{
    background: url(../images/banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.frd
{
    background: url(../images/banner-3.jpg);
     background-size: cover;
    background-repeat: no-repeat;
}

.men1
{
    text-align: center;
    padding-top: 140px;
    font-size: 20px;
    /* background-color: black; */
    /* color: white; */
}

.men1 span
{
   background-color: white;
   padding: 10px 30px 10px 30px;
   
   color: black;
}

.men,.women,.frd 
{
    height: 300px;

}


.men,.women,.frd
{
    position: relative;
}


.men2,.women2,.frd2
{
    position: absolute;
    top: 15.5%;
    left: 15%;
    height: 180px;
    width: 320px;
    border: 10px solid white;
    display: none;
}


.men:hover .men2,.women:hover .women2,.frd:hover .frd2
{
  
   display: block;
   opacity: .6;
}


/* 5 end  */



/*  6 start  */

.slider
{
    /* height: 650px; */
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 20fr 80fr;
    /* padding: 40px 0px 0px 40px; */
}

.doter
{
    grid-template-columns: 80fr 20fr;
    margin-top: 30px;
}



.dis
{
    /* height: 600px; */
    /* border: 1px solid red; */
    text-align: center;
    /* background: url(../images/women-large.JPG);
    background-size: contain; */
    
}

 .para1
{
    background: url(../images/women-large.JPG);
    height:100%;
    background-size: 100% 100%;
}

.en 
{
   background: url(../images/man-large.JPG);
   height: 100%;
    background-size: cover;
}

.para
{
    padding-top: 270px;

}



.dis h1
{
    padding-bottom: 10px;
    color: white;
}

.dis span
{
    position: relative;
    font-size: 18px;
    color: white;
}

.dis span::after
{
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 0;
    border-radius: 50%;
}

.dis2
{
    /* height: 600px; */
    /* border: 1px solid yellow; */
    text-align: center;
    padding: 20px;
} 



.cloth p
{
    display: inline;
    padding: 20px;
    font-size: 20px; 
}

.cloth .clo
{
   position: relative;
}

.cloth .clo::after
{
    content: "";
    height: 2px ;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 45px;
    left: 0;
    border-radius: 50%;
}

.cloth1
{
    /* height: 400px; */
    /* border: 1px solid blue; */
    /* margin-top: 20px; */
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.handbag
{
    background: url(../images/women-3.JPG);
    
}

.handbag1
{
    background: url(../images/man-4.JPG);
}


.shoes
{
    background: url(../images/women-4.JPG);
}

.shoes1
{
    background: url(../images/man-1.JPG);
}

.access
{
    background: url(../images/women-1.JPG);
}

.access1
{
    background: url(../images/man-2.JPG);
}


.handbag,.shoes,.access 
{
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;

}

.handbag .fa-heart,.shoes .fa-heart,.access .fa-heart
{
    padding: 25px;
    cursor: pointer;
    position: absolute;
    top: -49px;
    right: 0;
    transition: .8s;

}

.handbag:hover .fa-heart,.shoes:hover .fa-heart,.access:hover .fa-heart
{
    top: 2px;
}

.hand 
{
 display: grid;
 grid-template-columns: 20fr 60fr 20fr;
 position: absolute;
 bottom: -30%;
 left: 55px;
 gap: 10px;
 transition: .8s;
}

.hand h3
{
    background-color: white;
    padding: 10px;
    
}

.fa-bag-shopping
{
    padding: 10px;
    background-color: gold;
    color: white;
}

.fa-shuffle
{
    background-color: white;
    padding: 10px;
}

.handbag:hover .hand,.shoes:hover .hand,.access:hover .hand
{
    bottom: 4px;
}


.towel h6
{
     padding-bottom: 8px;
    padding: 20px;
}

.towel h2
{
    color: #e7ab3c;
}

.towel del
{
    font-size: 15px;
}

.t1 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} 


/* 6 end  */


/* 7 start  */



.deal
{
    
    padding: 50px 0px;
}

.week
{
    height: 450px;
    background: url(../images/time-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
}

.wk 
{
   
    width: 50%;
}

.week #the
{
    position: relative;
}

.week #the::after
{
    content: "";
    height: 2px ;
    width: 14%;
    background-color: orange;
    position: absolute;
    top: 39px;
    left: 44%;
    border-radius: 50%;
}

.week #the,p
{
    padding-bottom: 20px;
}

.count
{
   
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.count1
{
    
 
    background-color: white;

}

.count1 h1
{
    color: #e7ab3c;
}

.now
{
    padding-top: 40px;
}

.now button
{
    
    padding: 10px 20px 10px 20px;
    background-color: #e7ab3c;
    color: white;
}


/*  7 end  */



/* 8 start  */


/* 8 end  */


/* 9 start  */


.inst
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}


.inst1 img,.inst2 img,.inst3 img,.inst4 img,.inst5 img,.inst6 img
{
    object-fit: cover;
}


.v
{
    height: 350px;
    position: relative;
}


.ins
{
    width: 100%;
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    visibility: hidden;
    opacity: .50;

}

.ins i 
{
    padding-top: 65%;
}



.inst1:hover .ins,
.inst2:hover .ins, 
.inst3:hover .ins,
.inst4:hover .ins, 
.inst5:hover .ins, 
.inst6:hover .ins
{
    visibility: visible;
}

.ins i
{
    font-size: 30px;
} 


/* 9 end */



/* 10 start  */

.from
{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.fro
{
    padding-bottom: 20px;
    text-align: center;

}

.fro p
{
    font-size: 30px;
    font-weight: bold;
 
}

.fro p
{
    position: relative;
}

.fro p::after
{
    content: "";
    height: 2px ;
    width: 5%;
    background-color: orange;
    position: absolute;
    top: 40px;
    left: 48%;
    border-radius: 50%;
}

.street
{
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}



.date
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.london
{
    padding: 20px;
}

.london i
{
    color: #e7ab3c;
    padding-left: 10px;
}

.london p
{
    padding-top: 10px;
}


/* 10 end  */



/* 11 start  */


.over
{
    /* height: 200px; */
    /* border: 1px solid; */
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.moter
{
    /* height: 180px; */
    /* border: 1px solid ; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 60px;
}

.moter1
{
    text-align: right;
    padding-right: 40px;
}

.moter i
{
    font-size: 50px;
    color: #e7ab3c;

}

.mot p
{
    font-weight: bold;
    padding: 0px;
}


/* 11 end  */


/* 12 start  */

.ban
{
    /* border: 1px solid ; */
    background-color: #3b3b3b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* padding: 30px 30px 20px 100px; */
    /* text-align:  right; */
    padding: 20px 0px;
    /* padding-left: 100px; */

}
/* .ban img{
    border: 2px solid red;
} */


/* 12 end  */


/* 13 start  */


.footer
{
    /* height: 400px; */
    /* border: 1px solid; */
    /* padding: 20px; */
}

.foot
{
    /* height: 390px; */
    /* border: 1px solid red; */
    background-color: black ;
    display: grid;
    grid-template-columns: 30fr 20fr 20fr 30fr;
}

.foo,.info,.account,.get
{
    /* border: 1px solid green; */
    color: white;
}

.foo 
{
    padding: 10px;
}
 
.foo img
{
    padding-bottom: 30px;
}

.face
{
   /* padding: 20px; */
}

.face i
{
    font-size: 20px;
    padding: 10px;
    background-color: #3b3b3b;
    border-radius: 50%;
    cursor: pointer;
}

.foo img
{
    cursor: pointer;
}

.face i:hover
{
   background-color: #e7ab3c;
}

.info,.account,.get
{
    
    padding: 20px;
}

.info p,.account p,.get p
{
    cursor: pointer;
}


.info h3,.account h3,.get h3
{
    padding-bottom: 30px;
}

.get p
{
    font-size: 20px;
    padding-bottom: 40px;
}

.get input
{
   padding: 10px;
   padding-right: 20px;
   background-color: #3b3b3b;
   /* font-size: 10px; */
}
 .get button
 {
    background-color: #e7ab3c;
    padding: 10px;
 }








 


























